<div class="card">
  <div class="card-header bg-white">
    Please enter your dimensions.
  </div>
  <div class="card-body">
    <form [formGroup]="dimensionsForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col-3">
          <input id="columns" autofocus type="text" type="number" class="form-control" placeholder="columns" formControlName="columns">
          <app-field-error [field]="dimensionsForm.controls.columns"></app-field-error>
        </div>
        <div class="col-1 text-center">
          <div class="mt-2">
            X
          </div>
        </div>
        <div class="col-3">
          <input id="rows" type="text" type="number" class="form-control" placeholder="rows" formControlName="rows">
          <app-field-error [field]="dimensionsForm.controls.rows"></app-field-error>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary" [disabled]="!dimensionsForm.valid">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>