<div *ngIf="gameBoardService.gameBoard.hasGameFinished" class="row justify-content-md-center">
    <div class="col-lg-3 text-center">
        <h3 *ngIf="!gameBoardService.gameBoard.isADraw">The winner is <span>{{gameBoardService.getCurrentTokenColor()}}</span></h3>
        <h3 *ngIf="gameBoardService.gameBoard.isADraw">It's a Draw</h3>
    </div>
</div>
<div class="container">
    <div *ngIf="!gameBoardService.gameBoard.hasGameFinished" class="row">
        <div class="col p-1" *ngFor="let cell of gameBoardService.getFirstRow()">
            <div class="mx-auto w-50 p-1">
                <button type="button" class="btn btn-primary {{gameBoardService.getCurrentTokenColor()}}" (click)="onClick($event,cell.column)">
                    <div class="click-text">Click</div>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container board-container rounded pt-2 pb-2 bg-info">
    <div class="row board" *ngFor="let column of gameBoardService.gameBoard.gameDataModel.gameData">
        <div class="col p-1" *ngFor="let cell of column">

            <div class="mx-auto w-50 p-1">
                <!-- {{cell.column}},{{cell.row}} -->
                <app-game-cell [cell]="cell"></app-game-cell>
            </div>
        </div>
    </div>
</div>