@import "./../game-common.scss";

// .board-container{
//     background-color: lightsteelblue;
// }
h3{
    span{
        text-transform: capitalize;
    }
}
button{
    &.yellow{
        background-color: rgb(250, 250, 179);
        border-radius: 50%;
        border: none;
        color: darkgray;
        width: $circle-raduis;
        height: $circle-raduis;
        @media (max-width: 700px) {
            width: $circle-small-raduis;
            height: $circle-small-raduis;
        }
        &:hover{
            background-color: yellow;
        }
    }
    &.red{
        background-color: rgb(249, 176, 176);
        border-radius: 50%;
        width: $circle-raduis;
        height: $circle-raduis;
        @media (max-width: 700px) {
            width: $circle-small-raduis;
            height: $circle-small-raduis;
        }
        border: none;
        &:hover{
            background-color: red;
        }
    }
}
.click-text{
    @media (max-width: 700px) {
        display: none;
    }
}
