
<div  class="row justify-content-md-center">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header text-center">
        <h2>Connect 4</h2> 
      </div>
      <div class="card-body">
        <app-get-dimensions *ngIf="gameBoardService.gameBoard.askDimensions"></app-get-dimensions>
        <app-game-board *ngIf="!gameBoardService.gameBoard.askDimensions"></app-game-board>
      </div>
      <div *ngIf="!gameBoardService.gameBoard.askDimensions" class="card-footer text-muted">
          <button type="button" class="btn btn-danger" (click)="gameBoardService.resetGame()">
              Reset Game
            </button>
      </div>
    </div>
  </div>
</div>