@import "./../game-common.scss";


.white{
    background-color: white;
    border-radius: 50%;
    width: $circle-raduis;
    height: $circle-raduis;
    @media (max-width: 700px) {
        width: $circle-small-raduis;
        height: $circle-small-raduis;
    }
}
.yellow{
    background-color: yellow;
    border-radius: 50%;
    width: $circle-raduis;
    height: $circle-raduis;
    @media (max-width: 700px) {
        width: $circle-small-raduis;
        height: $circle-small-raduis;
    }
}
.red{
    background-color: red;
    border-radius: 50%;
    width: $circle-raduis;
    height: $circle-raduis;
    @media (max-width: 700px) {
        width: $circle-small-raduis;
        height: $circle-small-raduis;
    }
}