<div *ngIf="field.invalid && (field.dirty || field.touched)" class="text-danger mt-1">
  <div *ngIf="field.errors?.required">
    Is required.
  </div>
  <div *ngIf="field.errors?.min">
    Must be at least 4.
  </div>
  <div *ngIf="field.errors?.max">
    Must be less than 10.
  </div>
</div>